.Button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    border-radius: 1px;
    height: 40px;
    border-radius: 25px;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    cursor: pointer;
    box-shadow:0px 0px 5px 0px;
    
}
.Button:hover{
    height: 40px;
    border-radius: 25px;
}
.button_text{
    display: flex;
    align-items: center;
    flex-direction: column;
}