
.card_body{
    height: 150px;
    width: 350px;
    border: 1px solid white;

}
.img_box{
    border-radius: 7px;
    height: 100%;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.healthier.qld.gov.au%2Ffood%2Frecipes%2Fspaghetti-bolognese%2F&psig=AOvVaw2LYbiWkdSnDZsQ8amK9P2I&ust=1667356789457000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCIDHzqD6i_sCFQAAAAAdAAAAABAE');
}

.card_title__container{
    height: 30px;
}

.card_text{
    color: white;
    font-size: large;
}

.card_description{
    height: 80px;
}