.buttons_header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 50px;

}
.header_body{
    background-color: rgba(127, 255, 212, 0.317);
}
.logo_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: brown;
}